# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\CodeofGHY-Letthenamelongsoitcanbefoundeasily\JavaWeb\simpleblog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
